<!DOCTYPE html>
  {% load djangular_tags %}
  {% load url from future %}
  {% load uni_form_tags %}
  {% load bootstrap_toolkit %}
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/forms.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.gridnav.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.colorbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/javascript-detect-element-resize/jquery.resize.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/blocksit.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/ngAutocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-gridster/src/angular-gridster.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/autocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/elastic.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/src/paginate-anything.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/ng-load/ng-load.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/django/django-angular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/django/angular-django-rest-resource.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/require/require.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}uni_form/uni-form.jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/imagesloaded.pkg.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/select2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/ngDjangoFormset/modules.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/ngDjangoFormset/directives.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/ngDjangoFormset/controllers.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/mobile-angular-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-form-ui/angular-form-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-route.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-restful.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-touch.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-messages.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-animate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-utils/directives/pagination/dirPagination.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-flash/dist/angular-flash.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/ng-tasty-tpls.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/app.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/custom/controllers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/foundation/js/modernizr.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/foundation/js/detectizr.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hook/hook.js"></script>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/custom/angular_script.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/custom/jquery_script.js"></script>

    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
      h2 {color: red;}
    </style>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <h2>This is part of my base template</h2>
      <br>
      {% block content %}{% endblock %}
      <br>
      <h2>This is part of my base template</h2>
      <br>
      <div class="footer">
        {% block footer %}
          Watch! This will be added to my base and child templates using the super powerful super block!
          <br>
          <br>
          <br>
        {% endblock %}
      </div>
    </div>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>

